body{
  font-family: "Passion One", sans-serif;
  background-color:#65ae91;
  color: #faf8da;
}
#title{
    margin-top: 40px;
    font-size: 50px;
    background-color: #db5f6e;
    border-radius: 15px;
    padding:1rem 2rem ;
}


#navbar{
    background-color: #215d76;

}

#navbrand{
    color: #faf8da;
    font-size: 45px;
}


#chuveiro{
    max-width: 150px;
    max-height: 150px;
    margin-top: 40px;
}
.personagemEscolhido{
    margin-top: 20px;
    size: 10px;
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 300px;
}